button{
  height: 30px;
  background-color:  #a7eaff;
  border: none;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: #3dd4ff;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}